In [1]:
import pandas as pd

In [6]:
temp = pd.read_json('/Users/samueldittmann/Desktop/Referat/Datenquellen/TemperaturZeitreihe.json')

co2 = pd.read_csv('/Users/samueldittmann/Desktop/Referat/Datenquellen/fossil-fuel-co2-emissions-by-nation.csv')

In [9]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3288 entries, 0 to 3287
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3288 non-null   datetime64[ns]
 1   Mean    3288 non-null   float64
 2   Source  3288 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 77.2+ KB

In [10]:
co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17232 entries, 0 to 17231
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         17232 non-null  int64
 1   Country                      17232 non-null  object
 2   Total                        17232 non-null  int64
 3   Solid Fuel                   17232 non-null  int64
 4   Liquid Fuel                  17232 non-null  int64
 5   Gas Fuel                     17232 non-null  int64
 6   Cement                       17232 non-null  int64
 7   Gas Flaring                  17232 non-null  int64
 8   Per Capita                   17232 non-null  float64
 9   Bunker fuels (Not in Total)  17232 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 1.3+ MB

In [13]:
co2[co2['Total']<0]

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
518,1851,AUSTRALIA,-17,-17,0,0,0,0,0.00,0
533,1852,AUSTRALIA,-15,-15,0,0,0,0,0.00,0
548,1853,AUSTRALIA,-30,-30,0,0,0,0,0.00,0
563,1854,AUSTRALIA,-35,-35,0,0,0,0,0.00,0
578,1855,AUSTRALIA,-36,-36,0,0,0,0,0.00,0
594,1856,AUSTRALIA,-50,-50,0,0,0,0,0.00,0
609,1857,AUSTRALIA,-57,-57,0,0,0,0,0.00,0
625,1858,AUSTRALIA,-67,-67,0,0,0,0,0.00,0
644,1859,AUSTRALIA,-103,-103,0,0,0,0,0.00,0
2960,1924,SARAWAK,-90,0,-90,0,0,0,0.00,0
3329,1930,VENEZUELA,-318,7,-325,0,0,0,0.00,0
3397,1931,VENEZUELA,-70,1,-70,0,0,0,0.00,0
4636,1948,IRAQ,-26,0,-26,0,0,0,0.00,0
4665,1948,SARAWAK,-995,0,-995,0,0,0,0.00,0
4840,1950,ISLAMIC REPUBLIC OF IRAN,-1473,145,-1627,0,9,0,-0.08,9
5040,1951,SAUDI ARABIA,-95,0,-95,0,0,0,-0.03,917
5148,1952,KUWAIT,-119,0,-119,0,0,0,-0.68,780
5192,1952,SAUDI ARABIA,-47,0,-47,0,0,0,-0.01,1023
5301,1953,KUWAIT,-14,0,-14,0,0,0,-0.08,1035
7940,1968,SENEGAL,-22,0,-49,0,27,0,-0.01,1283
8122,1969,SARAWAK,-222,0,-276,54,0,0,-0.23,25